.PokemonTable {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef5350;
  max-width: 560px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  border: 4px solid black;
}

.PokemonTable .PokemonCol {
  flex: 1;
  padding: 24px;
}

.PokemonTable .PokemonImageCol {
  flex: 0 1 auto;
  width: 140px;
}

.PokemonImageCol img {
  width: 100%;
}

.PokemonTable .PokemonTextCol {
  text-align: left;
  background-color: #ef5340;
}

.PokemonTextCol span {
  font-weight: bold;
  color: #000;
}

.PokemonTextCol ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.PokemonTextCol ul li {
  padding-left: 24px;
}
